{% extends 'padre.html'%}  
{% load static %}

{% block contenidoQueCambia %}
      <h1 class="display-4 font-italic">ACERCA DE NUESTRO BLOG MUSICAL</h1>
      <p class="lead my-3">Este Blog fue creado y desarrollado por:</p>
      <p class="lead-in-10"><A HREF="https://www.linkedin.com/in/hernan-suarez-50182192"> Hernan Alexis Suarez </A> y <A HREF="http://www.linkedin.com/in/hernan-santamonica-b8603a17b"> Hernan Rodrigo Santamonica </A></p>
      <p class="lead mb-0">Ambos se desarrollan trabajando para una compañia multinacional de la industria de telecomunicaciones, generando este blog como parte de la "Entrega Final" del curso de Python en Coderhouse.</p>
      <p class="lead mb-0">Fuera de los conocimientos en IT, ellos tienen una misma pasión, la pasión por la música. Y como dato de color son hinchas del club mas grande de la Argentina, San Lorenzo.</p>
{% endblock %}
    <h3></h3>
    
      <h2>  Este Blog fue creado y desarrollado por:
            Hernan Alexis Suarez
            Hernan Rodrigo Santamonica

            Ambos se desarrollan trabajando para una compañia multinacional del area 
        de la industria de telecomunicaciones, generando este blog como parte de la 
        "Entrega Final" del curso de Python en Coderhouse.

      </h2>
    

    


