{% extends 'AppMusica/padre.html'%}  
{% load static %}
{% block contenidoQueCambia %}

<body>

    <h1>LISTA DE POSTEOS METALEROS</h1>
    <ul>
        {% for blogMetal in object_list %}

            <li>
                <p>TITULO: {{ blogMetal.titulo }} </p>
                <p>SUBTITULO: {{ blogMetal.subtitulo }}</p>
                <p>CUERPO: {{ blogMetal.cuerpo }}</p>
                <p>FECHA: {{ blogMetal.fecha }} </p>
                <p>AUTOR: {{ blogMetal.autor }}</p>
                <p> 
                    <a href="{% url 'metalDetail' blogMetal.id %}">Ver</a> | 
                    <a href="{% url 'metalEdit' blogMetal.id %}">Editar</a> | 
                    <a href="{% url 'metalDelete' blogMetal.id %}">Borrar</a> 
                
                </p> 
            </li>

        {% endfor %}
    </ul>

    <a href="{% url 'metalNew'  %}" >CREAR NUEVO POST</a> | 

    <br>

    <button>
        <a href="{% url 'Inicio'  %}">Volver al Inicio</a>
    </button>

</body>
{% endblock %}